$clrPrimaire: #D3573C;
$clrSecondaire: #901C1C;
$clrBackground: #E5E5E5;
$clrNeutre: white;
$clrFonce: black;
$font:"DM Sans";
@keyframes cheche{
    from{
        transform:rotate(180deg);
    }
    to{
        transform:rotate(0deg) ;
    }
}
@mixin mobile-only {
    @media screen and (max-width:599px){
        @content;
    }
}
body{
    padding:2rem;
    @include mobile-only{
        padding: 1rem;    
    }
}
a,li,p,button,label,input{
    font-family: "DM sans";
    font-size: 1.2rem;
}
ul{
    list-style-type: none; 

}
h1{
    font-family: "DM sans";
    margin: 0;
}
p{
    font-family: "DM sans";
    font-size: 1.5rem;
}


#logo{
    width: 20%;
    @include mobile-only{
         width: 50%;
    }
}
#vignettePhotographer{
    background-color: rgba(172, 172, 172, 0.123);
    padding: 3rem 2rem 3rem 2rem ;
    border-radius: 1rem;
    position: relative;
    @include mobile-only{
        margin-top: 1rem;
        background-color: white;  
        padding: 0;  
        width: 100%;
    }
}

#boxPhotographer{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
#box{
    width: 35%;
    @include mobile-only{
        width: 100%; 
    }
}
.namePhotographer{
    font-size: 3rem;
    color: $clrPrimaire;
    @include mobile-only{
         width: 65%;
         font-size: 2.5rem;
    }
}
.cityPhotographer{
    color: $clrSecondaire;
    @include mobile-only{
        font-size: 1.2rem; 
        width: 65%;   
    }
}
.quotePhotographer{
    color: rgb(145, 145, 145);
    font-size: 1.2rem;
}
#tagsPhotographer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tags{
    font-family: "DM sans";
    color: $clrSecondaire;
    background: white;
    border: 0.5px solid #C4C4C4 ;
    border-radius: 11px;
    &:hover{
        background: $clrSecondaire;
        color: $clrNeutre;
        cursor: pointer;
    }
    &:active{
        background: $clrPrimaire;
        color: $clrNeutre;
    }
    @include mobile-only{
        font-size: 1rem;
        margin-top: 0.5rem;

    }
}
#btnContactezMoi{
    width: 10.5rem;
    height: 3.5rem;
    color:$clrBackground ;
    background-color: $clrSecondaire;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover{
        background-color: $clrPrimaire;
        color: black;  
    }
    @include mobile-only{
        position: fixed;
        top: 90%;
        left: 25%;

    }
}
.imgId{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10rem;
    margin-left: 40%;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.493);
    @include mobile-only{
        position: absolute;
        right: 0;
        height: 7rem;
        width:7rem;
            
    }
}
#bground {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
   
} 
#boxForm{
    padding: 1.5rem;
    margin: 3% auto;
    width: 80%;
    max-width: 700px;
    background: $clrPrimaire;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    @include mobile-only{
        height: 100%;
        width: 100%;
        margin: 0;
    }

}
#titreForm{
    width: 85%;
    font-size: 3.5rem;
    @include mobile-only{
    width: 70%;
    font-size: 2rem;   
    }
}
#closeForm{
    background-color: $clrPrimaire;
    border: none;
    color: white;
    font-size: 4rem;
    position: absolute;
    left: 85%;
    cursor: pointer;
    @include mobile-only{
    left: 70%;   
    }

}
#form{
    display: flex;
    flex-direction: column;
}
label{
    color: rgb(51, 51, 51);
    font-size: 1.5rem;
    @include mobile-only{
    margin-top: 1.5rem ;    
    }
}
input{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    @include mobile-only{
    width: 85%;  
    height: 3rem; 
    }
}
textarea{
    width: 100%;
    height: 6rem;
    border: none;
    border-radius: 0.2rem;
    @include mobile-only{
    width: 85%; 
    height: 10rem;   
    }
}
#btnSubmit{
    width: 10rem;
    height: 3rem;
    margin-top: 1.5rem;
    color: white;
    background-color: $clrSecondaire; 
    cursor: pointer;
    @include mobile-only{
        margin-left: 20%;
    }

}




.pricePhotographer{
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 1rem 1rem 0.4rem 2rem ;
    background-color: $clrPrimaire ;
    position: fixed;
    left: 60%;
    bottom: 0;
    @include mobile-only{
        display: none;    
    }
}
#nbrLikes{
    width: 4rem; 
}
#textStatique{
    margin: 0;
}
.fa-heart{
    padding-right: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.pricePhotographer .fa-heart{
    cursor: default;
    padding: 0.7rem; 

}
.pricePhotographer p{
    margin: 0.5rem;
}
#price{
    margin-left: 40%;
}
#boxTrier{
    display: flex;
    flex-direction: row;
    position: relative;
    @include mobile-only{
        display: none;            
    }
}
#menuDeroulant{
    position: absolute;
    left: 3.5rem;
    top: 1.5rem;
    width: 11rem;
    height: 3rem;
    padding-left: 0.5rem;
    margin-left: 3rem;
    background-color: $clrSecondaire;
}
.menuDeroulantBouton{
    text-align: left; 
    height: 2.5rem;
    width: 10rem;
    color: white;
    background-color: $clrSecondaire;
    border: none;
    border-top: 1px solid white;
    padding: 0 0 0 1rem;
    &:hover{
        display: block; 
        cursor: pointer;

    }
}
#chevron{
    color: white;
    position: absolute;
    left: 15rem;
    top: 2.25rem;
    transform: rotate(180deg);
    cursor: pointer;

}
#btnPopu{
    left: 0.5rem;
    position: absolute;
    top: -1px;
}
#btnDate{
    position: absolute;
    left: 0.5rem;
    top: 2.5rem;
    display: none;

}
#btnTitre{
    position: absolute;
    left: 0.5rem;
    top: 5rem;
    display: none;
}
#gallery,#boxGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxMedia{
    width: 27%;
    margin: 1rem;
    @include mobile-only{
        width: 100%;     
    }
}
.vignetteMedia{
    width: 100%;
    height: 18rem;
    object-fit: cover;

}
figcaption{
    color: $clrSecondaire;
    font-family: "DM sans";
    margin: 0.5rem;
    font-size: 2rem;
    @include mobile-only{
        font-size:1.5rem;     
    }
}
.boxlegend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxlike{
    display: flex;
    flex-direction: row;
}
.heartMedia{
    color: $clrSecondaire;
    background-color: white;
    border: none;

    @include mobile-only{
        padding-right: 0;     
    }
}
.mediaCoeur{
    color: $clrSecondaire;
    margin: 0.5rem;
}

.lightbox{
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: opacity 0.3s;
}
.lightbox.closeBox{
    opacity: 0;
}
#closeLightbox{
    color: $clrSecondaire;
    font-size: 4rem;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 2;
    background-color: white;
    border: white;
    &:hover{
        cursor: pointer;
    }
    @include mobile-only{
        font-size: 2rem;     
    }
}
#next,#prev{
    color: $clrSecondaire;
    font-size: 4rem;
    position: fixed;
    top: 50%;
    background-color: white;
    border: white;
    &:hover{
        cursor: pointer;
    }
    @include mobile-only{
        font-size: 2rem;    
    }
}

#next{
    transform: rotate(90deg);
    right: 3%;
}
#prev{
    transform: rotate(-90deg);
    left: 3%;
}
#container{
    margin:0;
    width: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    height: 100%;   
    
}
#photo{
    
    width: 100%;
    height: 80%;
    max-height: 100vh;
    object-fit: cover; 
    @include mobile-only{
        width: 95%;
        height: 30%;
        margin: 70% 0 0 2%;
    }

}

.legendLightbox{
    color: $clrSecondaire;
    font-size: 2rem;
    @include mobile-only{
        font-size: 1.5rem;     
    }
}